:root {
    --bege-background: #F4E9DC;
    --laranja-button: #FF8214;
    --red-color: #A75757;
}


* {
    margin: 0;
    padding: 0;

}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Inter';
    background-color: var(--bege-background);
}


.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.4);
}

.container_login {
    display: flex;
    background-color: var(--bege-background);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 80px 40px;
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.4);

}

.container_login button {
    padding: 10px 40px;
    border-radius: 5px;
    background-color: var(--laranja-button);
    color: var(--branco-background);
    border: none;
    cursor: pointer;
}

.container_login button:hover {
    background-color: #f06829;
    color: var(--branco-background);
    border: 2px solid #d44604;

}

.container_login input {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.container_login h1 {
    font-weight: 300;
    font-size: 30px;
    font-style: italic;
}